@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap);.lng-switcher {
    position: relative
}

.lng-switcher__selected-lng {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: var(--c-white);
    font-weight: 600;
    margin: 0 10px
}

.lng-switcher__selected-lng .icon-planet {
    font-size: 1.375rem
}

.lng-switcher__selected-lng-label {
    font-size: 1rem;
    margin-left: 9px;
    line-height: 1.174rem
}

.lng-switcher__langs-list {
    position: absolute;
    top: 24px;
    right: 0;
    background-color: var(--c-white);
    border: 1px solid var(--c-main-hover)
}

.lng-switcher__langs-list-item {
    padding: 7px 10px;
    color: var(--c-black);
    font-weight: 500;
    cursor: pointer;
    transition: all .25s
}

.lng-switcher__langs-list-item:first-of-type {
    margin-bottom: 5px
}

.lng-switcher__langs-list-item:hover {
    background-color: var(--c-main-hover);
    color: var(--c-white)
}

.app-header {
    width: 100%;
    background: linear-gradient(180deg,transparent,rgba(49,49,49,0) .01%,rgba(49,49,49,.2)),linear-gradient(0deg,#3ca398,#3ca398);
    color: var(--c-white)
}

.app-header .container--max-width {
    display: flex;
    align-items: center
}

.app-header__logo {
    height: 4.5rem;
    margin-right: 1rem
}

.app_header__title {
    font-size: 1.375rem;
    line-height: 1.614rem;
    font-weight: 600;
    max-width: 70%;
    margin: 1rem auto 1rem 0
}

@media screen and (max-width: 660px) {
    .app-header .container--max-width {
        flex-wrap:wrap;
        padding-bottom: 10px
    }

    .app_header__lang-swr {
        margin-left: auto
    }
}

.search-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1px 1fr;
    grid-gap: 24px;
    align-items: center
}

.search-form__separator {
    background-color: var(--c-border);
    height: 100%
}

.search-form__field--margin-top {
    margin-top: 20px
}

.search-form__btn-reset {
    background-color: transparent;
    color: var(--c-link);
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600
}

.search-form__btns {
    display: flex;
    padding: 0 40px 0 0
}

.search-form__btns .f-button {
    width: 145px;
    margin: 0 5px
}

@media screen and (max-width: 860px) {
    .search-form {
        grid-template-columns:1fr 1fr;
        grid-gap: 14px
    }

    .search-form__dummy-field,.search-form__separator {
        display: none
    }
}

@media screen and (max-width: 730px) {
    .search-form {
        grid-template-columns:1fr;
        grid-gap: 0;
        justify-content: center
    }

    .search-form__dummy-field,.search-form__separator {
        display: none
    }

    .search-form__btns {
        padding: 0;
        width: 100%;
        margin: 1rem 0
    }
}

.search-document-form {
    display: grid;
    grid-template-columns: minmax(40%,330px) minmax(40%,330px);
    align-items: end;
    grid-gap: 1.5rem
}

@media screen and (max-width: 690px) {
    .search-document-form {
        grid-template-columns:minmax(auto,330px)
    }
}

.document-viewer {
    position: relative;
    width: 90vw;
    height: 90vh
}

.document-viewer iframe {
    width: 100%;
    height: 100%
}

.document-viewer__toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 2rem;
    background-color: #323639;
    color: #fff
}

.document-viewer__toolbar-name {
    color: #fff
}

.document-viewer__toolbar button {
    width: 32px;
    height: 32px;
    margin-left: auto;
    background-color: transparent;
    color: #fff;
    border-radius: 50%;
    transition: background-color .25s
}

.document-viewer__toolbar button:hover {
    background-color: hsla(0,0%,100%,.4)
}

.documents-list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
    padding-top: 24px;
    margin-top: 24px;
    border-top: var(--border)
}

@media screen and (max-width: 690px) {
    .documents-list {
        grid-template-columns:1fr;
        grid-gap: 24px
    }
}

.about-us__p {
    margin-bottom: 10px
}

.about-us__h,.about-us__p {
    font-size: 1rem;
    color: var(--c-black)
}

.about-us__h {
    font-weight: 700;
    margin-bottom: 3px
}

.contacts-card__title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--c-main)
}

.contacts-card__list {
    margin-bottom: 1.5rem;
    border-bottom: var(--border)
}

.contacts-card__list-item {
    display: flex;
    align-items: center;
    margin: 10px 0
}

.contacts-card__list-item-icon {
    margin-right: 10px;
    font-size: 1.3rem;
    color: var(--c-main)
}

.contacts-card__list-item-value {
    font-size: 1.125rem;
    color: var(--c-black)
}

.app-main {
    background-color: var(--c-grey-bg)
}

.app-main__title {
    margin: 2.5rem 0 1.25rem;
    color: var(--c-black);
    font-size: 2rem;
    font-weight: 700
}

.app-footer {
    background: linear-gradient(0deg,rgba(0,0,0,.4),rgba(0,0,0,.4)),linear-gradient(0deg,#3ca398,#3ca398);
    padding: 10px 0
}

.app-footer .container--max-width {
    display: flex;
    align-items: center
}

.app-footer__dev-info {
    margin-right: auto;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: var(--c-white)
}

.app-footer__logo {
    height: 40px;
    margin-right: 10px
}

@media screen and (max-width: 800px) {
    .app-footer .container--max-width {
        flex-wrap:wrap;
        text-align: center;
        justify-content: center
    }

    .app-footer__dev-info {
        padding-bottom: 10px
    }
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0,0%,100%,.8);
    opacity: .9
}

.preloader__spinner-circular {
    display: inline;
    height: 150px;
    width: 150px;
    -webkit-animation: loading-rotate 2s linear infinite;
    animation: loading-rotate 2s linear infinite
}

.preloader__spinner-path {
    -webkit-animation: loading-dash 1.5s ease-in-out infinite;
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90,150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: var(--c-main-hover);
    stroke-linecap: round
}

@-webkit-keyframes loading-rotate {
    to {
        transform: rotate(1turn)
    }
}

@keyframes loading-rotate {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes loading-dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -40px
    }

    to {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -120px
    }
}

@keyframes loading-dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -40px
    }

    to {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -120px
    }
}

.notification--info {
    --type-color: #0067ff
}

.notification--error {
    --type-color: var(--c-error)
}

.notification {
    position: relative;
    max-width: 450px;
    min-height: 4rem;
    padding: 1.2rem 1.5rem;
    background: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.0784313725490196),0 2px 2px rgba(0,0,0,.1411764705882353),0 1px 5px rgba(0,0,0,.12156862745098039);
    transition: all .3s ease-in-out
}

.notification__btn-close {
    position: absolute;
    top: .4rem;
    right: .4rem;
    display: flex;
    place-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: transparent;
    transition: box-shadow .3s ease-in-out;
    cursor: pointer
}

.notification__btn-close i {
    font-size: 12px;
    font-weight: 600;
    color: #2c3e50
}

.notification__btn-close:hover {
    box-shadow: 0 0 10px #e4e4e4
}

.notification__body {
    display: grid;
    grid-template-columns: calc(40px + 1rem) 1fr;
    grid-template-areas: "icon title" "icon message"
}

.notification__icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    border-right: 1px solid #e4e4e4;
    margin-right: 1rem
}

.notification__icon .icon-error {
    font-size: 1.5rem;
    color: var(--type-color)
}

.notification__title {
    grid-area: title;
    margin-bottom: .7rem;
    font-size: 1rem;
    font-weight: 600;
    color: #2c3e50
}

.notification__message {
    grid-area: message;
    font-size: 1rem;
    color: #2c3e50
}

.notification__duration {
    position: absolute;
    bottom: 0;
    left: 0;
    height: .4rem;
    width: 100%;
    background: var(--type-color);
    -webkit-animation: progress var(--toast-duration) ease-in-out forwards;
    animation: progress var(--toast-duration) ease-in-out forwards
}

@-webkit-keyframes progress {
    to {
        width: 0
    }
}

@keyframes progress {
    to {
        width: 0
    }
}

.toast-notifications {
    z-index: 100;
    position: absolute;
    top: .5rem;
    right: .5rem;
    max-height: calc(100vh - .5rem);
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    gap: .8rem
}

.toast-notification-enter-active {
    -webkit-animation: toast-fade-in .5s ease-in-out;
    animation: toast-fade-in .5s ease-in-out
}

.toast-notification-leave-active {
    animation: toast-fade-in .5s ease-in-out reverse
}

.toast-notification-move {
    transition: all .5s
}

@-webkit-keyframes toast-fade-in {
    0% {
        opacity: 0;
        transform: scale(.4)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes toast-fade-in {
    0% {
        opacity: 0;
        transform: scale(.4)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

*,:after,:before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a,article,aside,body,button,div,footer,form,h1,h2,h3,h4,h5,h6,header,html,img,label,li,nav,ol,p,section,span,ul {
    margin: 0;
    padding: 0;
    border: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {
    display: block
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400;
    line-height: 1.2
}

a {
    text-decoration: none
}

ul {
    list-style: none
}

img {
    max-width: 100%;
    height: auto;
    border: 0
}

button,input,textarea {
    outline: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer
}

html {
    line-height: 1.15
}

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff
}

input:-webkit-autofill {
    box-shadow: inset 0 0 0 80px #fff!important;
    color: #fff!important;
    -webkit-text-fill-color: #fff!important
}

[hidden] {
    display: none!important
}

@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.c1b089e9.eot);
    src: url(../fonts/icomoon.c1b089e9.eot#iefix) format("embedded-opentype"),url(../fonts/icomoon.70355110.ttf) format("truetype"),url(../fonts/icomoon.c513af89.woff) format("woff"),url(../img/icomoon.50e21486.svg#icomoon) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: block
}

[class*=" icon-"],[class^=icon-] {
    font-family: icomoon!important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-close:before {
    content: "\e905"
}

.icon-planet:before {
    content: "\e900"
}

.icon-calendar:before {
    content: "\e904"
}

.icon-question:before {
    content: "\e901"
}

.icon-file:before {
    content: "\e902"
}

.icon-warning:before {
    content: "\e903"
}

.icon-download:before {
    content: "\e907"
}

.icon-msg:before {
    content: "\e908"
}

.icon-phone:before {
    content: "\e909"
}

.icon-location:before {
    content: "\e90a"
}

.icon-error:before {
    content: "\e906"
}

html {
    font-size: 16px
}

body {
    font-family: Raleway,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

:root {
    --c-main: #3ca398;
    --c-main-hover: #01a68a;
    --c-white: #fff;
    --c-black: #313131;
    --c-link: #337ab7;
    --c-grey-bg: #f6f6f6;
    --c-inactive-text: #7b7b7b;
    --c-warning: #f68431;
    --c-error: #ea3737;
    --c-border: #cecece;
    --border: 1px solid var(--c-border)
}

#app {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100%
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: var(--c-main)
}

@media screen and (max-width: 880px) {
    html {
        font-size:12px
    }
}

@media screen and (max-width: 690px) {
    #app {
        height:auto;
        min-height: 100vh;
        overflow: auto
    }
}

.container--max-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem
}

.subtitle {
    font-size: 14px;
    line-height: 17.5px;
    color: var(--c-inactive-text)
}

.c-card {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: auto;
    background: var(--c-white);
    box-shadow: 4px 8px 24px 0 rgba(49,49,49,.12156862745098039);
    border-radius: 16px;
    padding: 1rem;
    transition: all .25s
}

.c-card__header {
    display: flex;
    padding-bottom: 9px;
    color: var(--c-main);
    border-bottom: 1px solid var(--c-main)
}

.c-card__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.468rem;
    margin-right: auto
}

.c-card__body {
    margin-top: 1.5rem;
    transition: all .25s
}

.card__header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .25s
}

.card__header-icon:hover {
    background-color: rgba(36,98,91,.1411764705882353)
}

.card__header-icon:after {
    content: "";
    width: 12px;
    height: 12px;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    transform: rotate(-45deg);
    transition: transform .25s
}

.card__header-icon--open:after {
    transform: rotate(135deg)
}

.card__body__content {
    overflow: hidden
}

.card__body-enter-active,.card__body-leave-active {
    will-change: height;
    transition: height .3s ease
}

.card__body-enter-from,.card__body-leave-to {
    height: 0!important
}

.doc-card {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    padding: 18px 22px;
    background-color: #fbfffe;
    border: 2px solid #01a68a;
    cursor: pointer;
    transition: background-color .25s
}

.doc-card .icon-file {
    font-size: 2.5rem;
    color: #dadada;
    transition: color .25s
}

.doc-card__label {
    font-size: 18px;
    font-weight: 500;
    color: var(--c-black);
    margin-left: 1rem;
    transition: color .25s
}

.doc-card:hover {
    background-color: var(--c-main-hover)
}

.doc-card:hover .doc-card__label,.doc-card:hover .icon-file {
    color: var(--c-white)
}

.field-wrapp {
    position: relative;
    margin-bottom: 20px
}

.field-wrapp__label {
    font-size: 14px;
    line-height: 16.44px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--c-black);
    text-align: left
}

.f-button {
    --border-color: var(--c-border);
    --color: var(--c-border);
    --bg: var(--c-white);
    --border-color-disabled: var(--c-border);
    --color-disabled: var(--c-white);
    --bg-disabled: var(--c-border)
}

.f-button--primary {
    --border-color: var(--c-main);
    --color: var(--c-white);
    --bg: var(--c-main)
}

.f-button--secondary {
    --border-color: var(--c-main);
    --color: var(--c-main);
    --bg: var(--c-white);
    --color-disabled: var(--c-border);
    --bg-disabled: var(--c-white)
}

.f-button {
    display: block;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 12px;
    border-radius: 5px;
    color: var(--color);
    background-color: var(--bg);
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: all .25s
}

.f-button--disabled {
    color: var(--color-disabled);
    background-color: var(--bg-disabled);
    border-color: var(--border-color-disabled);
    pointer-events: none;
    cursor: not-allowed
}

.f-button:hover {
    filter: saturate(200%)
}

.el-date-editor.el-input,.el-date-editor.el-input__inner {
    width: 100%
}

.f-dp {
    --el-input-font-color: var(--c-black);
    --el-input-border: var(--border);
    --el-input-border-radius: 4px;
    --el-input-background-color: var(--c-white);
    --el-input-placeholder-color: var(--c-inactive-text);
    --el-input-icon-color: var(--c-main);
    --el-input-focus-border: var(--c-main)
}

.f-dp .el-input__inner {
    height: 44.8px;
    font-size: 16px;
    line-height: 18.8px;
    padding: 12px 0 12px 35px
}

.f-dp .el-input__prefix {
    display: flex;
    align-items: center
}

.f-dp .el-icon-date:before {
    font-size: 22px
}

.el-picker-panel__body {
    --el-datepicker-active-color: var(--c-main);
    --el-datepicker-hover-font-color: var(--c-main)
}

.el-picker-panel__body .today span {
    color: var(--c-main)!important
}

.el-picker-panel__body .today.current span {
    color: var(--c-white)!important
}

.f-input {
    border: var(--border);
    font-size: 16px;
    line-height: 18.8px;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    color: var(--c-black);
    transition: border-color .25s
}

.f-input::-moz-placeholder {
    color: var(--c-inactive-text)
}

.f-input:-ms-input-placeholder {
    color: var(--c-inactive-text)
}

.f-input::placeholder {
    color: var(--c-inactive-text)
}

.f-input:focus {
    border-color: var(--c-main)
}

.dlg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5)
}

.dlg__content {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--c-white);
    border-radius: 8px;
    overflow: hidden
}

.dlg__content-head {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--c-main)
}

.dlg__title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.4rem;
    color: var(--c-white)
}

.dlg__btn-close {
    position: relative;
    height: 20px;
    width: 20px;
    margin-left: auto;
    background-color: transparent;
    color: var(--c-white)
}

.dlg-fade-enter-active,.dlg-fade-leave-active {
    transition: opacity .5s ease
}

.dlg-fade-enter-from,.dlg-fade-leave-to {
    opacity: 0
}

.dlg__content-translate-enter-active,.dlg__content-translate-leave-active {
    transition: transform .4s
}

.dlg__content-translate-enter-from,.dlg__content-translate-leave-to {
    transform: translateY(-15px)
}

.trn-fade-enter-active,.trn-fade-leave-active {
    transition: opacity .5s ease
}

.trn-fade-enter-from,.trn-fade-leave-to {
    opacity: 0
}

.trn-scale-enter-active,.trn-scale-leave-active {
    transition: all .25s ease;
    transform-origin: top left
}

.trn-scale-enter-from,.trn-scale-leave-to {
    opacity: 0;
    transform: scale(0)
}

.msg--info {
    --msg-color: var(--c-inactive-text)
}

.msg--warning {
    --msg-color: var(--c-warning)
}

.msg--error {
    --msg-color: var(--c-error)
}

.msg--primary {
    --msg-color: var(--c-link)
}

.msg {
    display: flex;
    align-items: center;
    color: var(--msg-color);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500
}

.msg__icon {
    font-size: 18px;
    margin-right: 4px
}
